h1 {
  font-size: 18px;
  color: #33d;
}
h2 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
@mixin buttonDefault {
  width: 200px;
  height: 120px;
  padding: 20px;
}
.button2 {
  @include buttonDefault;
  background-color: #222;
}
.button3 {
  @include buttonDefault;
  background-color: #092;
}
